NEXT_PUBLIC_SUPABASE_URL=https://njwzdaqzaquvtrqjjnoz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qd3pkYXF6YXF1dnRycWpqbm96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NzM1MjgsImV4cCI6MjA5NDM0OTUyOH0.O0x45pjiUTh64C10ia-LBlV9rhUijqCqi5DrtDokQYM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qd3pkYXF6YXF1dnRycWpqbm96Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODc3MzUyOCwiZXhwIjoyMDk0MzQ5NTI4fQ.DhxOgpbVGXtxnaWgYZy93qNkePuHRNxVTkr2L0f0x5o
